@import url(common.css);

main {
  background-image: url(../img/TOPpage/modan.png);
  background-blend-mode: luminosity;
}

main h2 {
  padding-top: 80px;
  padding-bottom: 20px;
}

p.separator {
  padding-bottom: 40px;
}

section.profile {
  background-image: url(..//img/MEMBERpage/frame_rantan.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

section.profile div.frame {
  position: relative;
  padding-bottom: 610px;
}
section.profile p.card {
  position: absolute;
  top: 108px;
  left: 113px;
  z-index: 1;
}
section.profile p.nameplate {
  position: absolute;
  top: 103px;
  left: 444px;
  z-index: 2;
  /* 落下 1度だけ */
  animation: rakka 0.8s linear infinite;
  animation-iteration-count: 1;
}

section.profile p.dataplate {
  position: absolute;
  top: 172px;
  left: 390px;
  /* 落下 1度だけ */
  animation: rakkaplate 0.8s linear infinite;
  animation-iteration-count: 1;
}

/* p.profile {
  color: #fbfcef;
  font-size: 20px;
  text-align: left;
  line-height: 1.5em;
  margin-left: 490px;
  margin-right: 189px;
  position: absolute;
  top: 250px;
} */

a.Xlink {
  position: absolute;
  right: 300px;
  bottom: 80px;
}

a.youtubelink {
  position: absolute;
  right: 212px;
  bottom: 80px;
}

/* メンバー選択 */
section.select {
  position: relative;
  padding-bottom: 400px;
  background-image: url(../img/MEMBERpage/cardback.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
  /* margin-left: 50px; */
}

/* 最初はすべて中央配置かつ重なるのでpositionつけた */
section.select a {
  display: block;
  position: absolute;
  /* .selectの中左半分余白を％で記述。 50だとなんか真ん中じゃなかった */
  left: 48%;
  top: 44px;
  /* カード最初の配置 */
  transform: translate(-50%, 0);
  /* カード広がる時間・遅延で表示時間を(じゃないとすぐ開いてしまう) */
  transition: 1s;
  transition-delay: 0.3s;
}

/* jsプログラムで.cardbox見えた時に.hyoujiを追加させ、カードが広がるアニメーションをつける */
section.select div.hyouji a.rantan {
  margin-left: -150px;
}
section.select div.hyouji a.sugiru {
  margin-left: -50px;
}
section.select div.hyouji a.hacchi {
  margin-left: 50px;
}
section.select div.hyouji a.shu3 {
  margin-left: 150px;
}

section.select a:hover {
  transform: translate(-50%, -30px);
  transition: 0.5s;
}

/* カード自動回転 */
.profile p.card {
  animation: turn 1.5s;
}

@keyframes turn {
  to {
    /* Y軸に対して１回転させる */
    transform: rotateY(1turn);
  }
}
/* カードホバー回転 */
.profile p.card:hover {
  transition: transform 1.5s;
  transform: rotateY(360deg);
}

/* 落下アニメーション */
@keyframes rakka {
  0% {
    top: 0px;
  }
  40% {
    top: 130px;
  }
  75% {
    top: 50px;
  }
  /* 100% {
    top: 90px;
  } */
}

@keyframes rakkaplate {
  0% {
    top: 0px;
  }
  40% {
    top: 250px;
  }
  75% {
    top: 150px;
  }
  /* 100% {
    top: 200px;
  } */
}

@media (max-width: 767px) {
  section.profile p.card img {
    height: 290px;
    object-fit: cover;
  }
  section.profile p.card {
    top: 50px;
    left: 80px;
  }
}
