@import url(common.css);
/* 毎ページ共通だがトップページ以外↓ */
main {
  background-image: url(../img/TOPpage/modan.png);
  background-blend-mode: luminosity;
}

main h2 {
  padding-top: 80px;
  padding-bottom: 10px;
}

main p.setumei {
  font-size: 17px;
  padding-bottom: 50px;
  padding-right: 85px;
}
main div.xrelative {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
main p.x {
  position: absolute;
  right: 0px;
  top: -30px;
  /* width設定しないとなぜか画像消えてしまう */
  width: 68px;
}

main div.news_content {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

main dl {
  text-align: left;
  font-size: 17px;
  padding: 20px 10px;
  /* margin-left: 206px;
  margin-right: 205px; */
}
dl dt {
  padding-left: 10px;
  padding-bottom: 17px;
}

/* ボーダーか 疑似要素afterで線引くか */
/* dl dd::after {
  content: "";
  display: block;
  background-color: #000;
  width: 705px;
  height: 1px;
  margin: 17px auto 10px;
} */
dl dd {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 17px;
  margin-bottom: 17px;
}

.container ul.pagelink {
  display: flex;
  column-gap: 15px;
  /* 中央配置 */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-top: 42px;
}
.container li.firstpage {
  font-size: 20px;
  color: #a6c7c0;
  background: #854242;
  padding: 9px 15px 9px;
  width: fit-content;
  display: block;
}
.container li.secondpage {
  font-size: 20px;
  color: #854242;
  background: #a6c7c0;
  padding: 9px 15px 9px;
  width: fit-content;
  display: block;
  cursor: pointer;
}
.container li.thirdpage {
  font-size: 20px;
  color: #854242;
  background: #a6c7c0;
  padding: 9px 15px 9px;
  width: fit-content;
  display: block;
  cursor: pointer;
}

.container ul.pagelink a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 575px) {
  /* Xlinkを入れるためのスペース広さ変更 */
  main p.setumei {
    padding-right: 65px;
  }
  /* 画像大きさ変更 */
  main p.x {
    top: -20px;
    width: 55px;
  }
}
