@import url(common.css);
/* 毎ページ共通だがトップページ以外↓ */
main {
  background-image: url(../img/TOPpage/modan.png);
  background-blend-mode: luminosity;
}

main h2 {
  padding-top: 80px;
  padding-bottom: 10px;
}

main p.setumei {
  font-size: 17px;
  padding-bottom: 50px;
  padding-right: 85px;
}
main div.xrelative {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
main p.x {
  position: absolute;
  right: 0px;
  top: -30px;
  /* width設定しないとなぜか画像消えてしまう */
  width: 68px;
}

/* ここからニュース内容 */

ul.pagelink a {
  text-decoration: none;
}

/* ニュース内容 全体幅 */
main div.news_content {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}
/* 左右余白 */
.page_list {
  padding: 20px 10px;
}

/* ページネーション */
/* ページングで表示するコンテンツのスタイル
初期表示は非表示 */
.page_list li {
  display: none;
  padding: 20px 0;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: 17px;
  line-height: 1.3;
  padding: 20px 10px;
}

.page_list li h3 {
  padding-bottom: 17px;
}
/* // onクラス添付で画面に表示 */
.page_list li.on {
  display: block;
}

.pagination .number {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  padding-top: 42px;
  padding-bottom: 100px;
}

.pagination .number a {
  font-size: 20px;
  color: #854242;
  background: #a6c7c0;
  padding: 9px 15px 9px;
  width: fit-content;
  display: block;
  cursor: pointer;
}

/* // ページネーションの現在のページに「.active」クラスを付与して色を変える */
.pagination .number > a.active {
  font-size: 20px;
  color: #a6c7c0;
  background-color: #854242;
  padding: 9px 15px 9px;
  width: fit-content;
  display: block;
}

@media (max-width: 575px) {
  /* Xlinkを入れるためのスペース広さ変更 */
  main p.setumei {
    padding-right: 65px;
  }
  /* 画像大きさ変更 */
  main p.x {
    top: -20px;
    width: 55px;
  }
}
